/* General Styles */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}
/* Scrolllbar Styles */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #424242;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #6f5ab2;
  border: 3px solid #424242;
}
/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 90vh;
  padding-bottom: 10vh;
}
button{
  user-select: none;
}
h2, h3 {
  text-align: center;
}
span{
  font-size: 12px;
}
/* General Input Styles */
label {
  display: block;
  font-size: 10px;
  margin: 10px 0 5px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #6F5AB2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: #8267dc;
}
/* Unversal Btn class styling */
.btn,.Btn{
  margin-right: 10px;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #6F5AB2;
  font-size: 13px;
}
.Btn:hover,.removeBtn:hover{
  opacity: 0.5;
}
.Btn:active,.removeBtn:active{
  opacity: 1;
}
/* Styling for Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  text-wrap: nowrap;
  width: fit-content;
  background-color: #fff;
  color: #6f5ab2;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 50%;
  translate: -50% -120%;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* General Settings end */
/* header styles start*/
header{
  user-select: none;
  display: flex;
  padding: 0 30px;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #6f5ab2;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  top: 0;
}
/* logo style */
#logo{
  font-size: 1.8rem;
  margin-left: 5%;
  letter-spacing: -0.5px;
}
/* Slogan style */
#slogan{
  margin: 0px auto 0px 25%;
}
/* Style for showing sidebar button */
#showSideBar{
  background: transparent;
  padding: 0px 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 2rem;
  color: #fff;
}
#showSideBar:hover{
  opacity: 0.5;
}
#showSideBar:active{
  opacity: 1;
}
/* header styles end*/
/* Sidebar styles start*/
#sidebar{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 220px;
  height: 90vh;
  padding: 10px;
  position: fixed;
  top: 10vh;
  left: 0;
  translate: -100% 0%;
  background-color: #6E6E6E;
  color: #fff;
  transition: all 0.5s;
}
/* Style for the items in sidebar */
.listItems{
  border: 2px #fff solid;
  border-radius: 5px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  button{
    background: transparent;
    border: 0;
    color: #fe7878;
  }
  button:hover{
    opacity: 0.5;
  }
  button:active{
    opacity: 1;
  }
}
.listItems:hover{
  border-radius: 20px;
  border-color: #A9FDAC;
}
/* Styling for the buttons for creating new resumes */
#createNewResumeHome,#createNewResume{
  color: #fff;
  background-color: transparent;
  padding: 5px;
  border: #fff solid 2px;
  border-radius: 5px;
}
#createNewResume:hover{
  border-color: #A9FDAC;
}
#createNewResume:active{
  border-color: #5cff61;
}
#createNewResumeHome{
  font-size: 1.2rem;
  color: #6f5ab2;
  border: #6f5ab2 solid 2px;
}
/* Sidebar styles End*/
/* Styles for the container containing the form and resume */
.container {
  position: relative;
  user-select: none;
  max-width: 600px;
  margin: 15vh 5% 0 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input form Style start */
#formHeading{
  
  color: #6f5ab2;
}
.addBtn{
  background-color: #6F5AB2;
  padding: 0px 10px;
  float: inline-end;
}
.removeBtn{
  background-color: #ff5a5a;
  position: absolute;
  padding: 0px 10px;
  top: 2%;
  right: 0%;
  z-index: 10;
}
/* style for reset btn */
#resetBtn{
  display: none;
  position: absolute;
  background-color:#fe7878;
  top: 10px;
  right: 2px;
  padding: 0px 10px;
}
/* Styles for education and experience input in form */
.definedInput{
  position: relative;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
}
/* custom entry styling */
.customeEntry{
  display: flex;
  padding: 5px;
}
.customeField[type="text"]{
  width: 30%;
  font-size: 10px;
  margin:5px;
}
.customFieldValue[type="text"]{
  font-size: 10px;
  margin:5px;

}

/* Date setting for both display and input form */
.date{
  display: flex;
  align-items: center;
  input{
    font-size: 10px;
    padding: 5px;
    max-width: 100px;
  }
}
/* Input form Style end */

/* Resume Display Style start */
.resume {
  padding: 20px;
  margin-top: 30px;
  background: #fff;
  color: #000000;
  font-size: 0.7rem;
  h4{
    margin-top: 10px;
    font-size: 0.8rem;
  }
  hr{
    border-top: 1px solid #0085DD;
  }
}
/* Display resume Header style */
.displayheader{
  #displayName{
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  h2{
    font-size: 2rem;
    color: #000000;
  }
  #displaylastName{
    color: #0085DD;
  }
  #displayStatus{
    color: #00000097;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 10px;
  }
}
/* Styles for how the cridentials in display form appear */
.display-credentials{
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  gap: 5px;
  font-size: 11px;
  background-color: #000000;
  color: #f1f1f1;
}
/* Styles for the display summary,education,experience */
li::marker{
  color: #0085DD;
}
ul{
  margin: 5px 0 0 30px;
  font-size: 0.7rem;
}
#displaySummary{
  margin-top: 5px;
}
#displayEducationBox,#displayExperienceBox{
  .date{
    float: inline-end;
    font-style: italic;
    span{
      color: #0085DD;
      font-size: 0.6rem;
    }
  }
  
  .displaydefinedInput{
    margin-top: 10px;

  }
  .defiendInputNameAndPlace{
    display: flex;
    flex-direction: column;
    :nth-child(2){
      opacity: 0.75;
      font-size: 0.7rem;
    }
    span{
      font-size: 0.75rem;
      font-weight: bolder;
    }
  }
}
#displaySkillsBox{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  li{
    margin-left: 10px;
  }
}
/* Resume Display Style End */

/* pdf link and edit button container */
#link-download-Box{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 5% 5vh 30%;
}
#resume-links{
  user-select: none;
  display: none;
  justify-content: space-evenly;
  width: 300px;
  margin: 20px 0;
}
/* Generated link styles*/
#shareLink{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.498);
  border-radius: 10px;
  color: #6F5AB2;
  text-decoration: none;
}
#shareLink:hover{
  text-decoration: underline;
}

/* MAking the site responsive */
@media Only screen and (max-width:920px) {
  .container{
    margin: 15vh auto 0 auto;
  }
  #link-download-Box{
    margin: 0 auto 25px auto;
  }
}
@media Only screen and (max-width:728px) {
#logo{
  margin: 0 auto 0 5%;
}
#slogan{
  margin: 0 auto;
}
}
@media Only screen and (max-width:600px) {
  #logo{
    font-size: 1.3rem;
  }
  #slogan{
    display: none;
  }
}
@media Only screen and (max-width:550px) {
  .resume{
    padding: 0;
  }
}
/* 
@media Only screen and (max-width:500px) {
 
.displayheader{
  font-size: 1.6rem;
}
.mainresumesection{
  > h4{
    font-size: 16px;
  }
}
.display-input-group{
  h4{
    font-size: 9px;
  }
  p{
    font-size: 8px;
  }
}
.display-credentials{
  font-size: 8px;
}
#displaySummary{
  font-size: 10px;
}
#displayEducationBox,#displayExperienceBox{
  .defiendInputNameAndPlace{
    span{
      font-size: 10px;
    }
  }
  p{
    font-size: 10px;
  }
}
}
 */
